services:

  picoshare:
    image: mtlynch/picoshare:latest 
    container_name: picoshare       
    environment:
      - PORT=4001
      - PS_SHARED_SECRET=p4ssw0rd
    ports:
      - "8200:4001"
    command: -db /data/store.db
    volumes:
      - ./picos_data:/data  
    restart: unless-stopped
